
<ul class='prices-container'>

    <li class='price-card active-card'>
        <div class="amount-block">
            <div class="cards-icon-bg">
                    <mat-icon class="icon-size-pro">
                        <span class="material-symbols-outlined red">
                            wallet
                            </span>
                            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
                    </mat-icon>
            </div>
            <h3 class="cards-amount-text-p">Balanace</h3>
            <h1 class="cards-amount-text">$ {{balanceData.balance}}</h1>
        </div>
        <div class="three-dots">
            <mat-icon class="icon-size-pro">
                <span class="material-symbols-outlined">
                    more_vert
                    </span>
                    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,600,1,0" />
              </mat-icon>
        </div>
    </li>

    <li class='price-card'>
        <div class="amount-block">
            <div class="cards-icon-bg">
                    <mat-icon class="icon-size-pro">
                        <span class="material-symbols-outlined active-icon">
                            monetization_on
                            </span>
                            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,200" />
                    </mat-icon>
            </div>
            <h3 class="cards-amount-text-p">Income</h3>
            <h1 class="cards-amount-text">$ {{balanceData.income}}</h1>
        </div>
        <div class="three-dots">
            <mat-icon class="icon-size-pro">
                <span class="material-symbols-outlined">
                    more_vert
                    </span>
                    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,600,1,0" />
              </mat-icon>
        </div>
    </li>

    <li class='price-card'>
        <div class="amount-block">
            <div class="cards-icon-bg">
                    <mat-icon class="icon-size-pro">
                        <span class="material-symbols-outlined active-icon">
                            savings
                            </span>
                            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,200" />
                    </mat-icon>
            </div>
            <h3 class="cards-amount-text-p">Savings</h3>
            <h1 class="cards-amount-text">$ {{balanceData.savings}}</h1>
        </div>
        <div class="three-dots">
            <mat-icon class="icon-size-pro">
                <span class="material-symbols-outlined active-icon">
                    more_vert
                    </span>
                    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,600,1,0" />
              </mat-icon>
        </div>
    </li>

    <li class='price-card'>
        <div class="amount-block">
            <div class="cards-icon-bg">
                    <mat-icon class="icon-size-pro">
                        <span class="material-symbols-outlined active-icon">
                            timeline
                            </span>
                            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,200" />
                    </mat-icon>
            </div>
            <h3 class="cards-amount-text-p">Expenses</h3>
            <h1 class="cards-amount-text">$ {{balanceData.expenses}}</h1>
        </div>
        <div class="three-dots">
            <mat-icon class="icon-size-pro">
                <span class="material-symbols-outlined">
                    more_vert
                    </span>
                    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,600,1,0" />
              </mat-icon>
        </div>
    </li>

    <!-- <li class='price-card'>
        <h3>Income</h3>
        <h1>{{balanceData.income}}</h1>
    </li>
    <li class='price-card'>
        <h3>Savings</h3>
        <h1>{{balanceData.savings}}</h1>
    </li>
    <li class='price-card'>
        <h3>Expenses</h3>
        <h1>{{balanceData.expenses}}</h1>
    </li> -->
</ul>