<h4 class="q-trsnfer-text">Quick Transfer</h4>
<div class="qt-profile-container">
    <ul class="qt-profiles">
       <li class="one">1</li>
       <li class="two">2</li>
       <li class="three">3</li>
       <li class="four">4</li>
       <li class="five">5</li>
       <li class="six">6</li>
    </ul>
    <div>
        <mat-icon class="icon-size-pro">
            <span class="material-symbols-outlined">
                chevron_right
            </span>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,200" />
        </mat-icon>
    </div>
</div>
<p class="q-trsnfer-text grey">Card Number</p>
<div class="card-input">
    <input type="text" placeholder="1 2 3 4   5 6 7 8   9 8 7 6">
    <p>VISA</p>
</div>
<div class="q-btn-container">
    <button class="s-money-btn">Send Money</button>
    <button class="d-btn">Save as Draft</button>
</div>